/* Fond de la page entier */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff; /* Fond blanc pour tout le site */
    margin: 0;
    padding: 0;
}

/* Style de base du menu */
nav ul {
    list-style-type: none; /* Supprime les puces */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: none; /* Supprime toute bordure */
    box-shadow: none; /* Supprime toute ombre */
    margin-top: 30px; /* Marge au-dessus du menu pour l'espacement */
}
body.dark-mode nav ul {
    background-color: #1e1e1e;
    color: #ffffff;
  }


/* Style des éléments de menu */
nav ul li {
    position: relative; /* Important pour le sous-menu */
    padding: 0px; /* Réduit l'espace entre les éléments du menu */
    margin: 0 1%; /* Espacement entre les éléments du menu */
    list-style: none; /* Supprime les puces */
}

/* Liens du menu */
nav ul li a {
    color: #333; /* Couleur du texte du menu */
    text-decoration: none; /* Supprime la couleur bleue et le soulignement */
    font-size: 14px;
    font-weight: 600;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Effet de survol du menu : texte rouge */
nav ul li a:hover, nav ul li a.hovered {
    color: #b22133;
    font-weight: 600;
}
body.dark-mode nav ul li a:hover, nav ul li a.hovered{
    color: #ff0000;
}

/* Sous-menu : agrandir pour s'adapter au texte */
.dropdown-menu {
    display: block; /* Permet d'animer sans utiliser "display: none" */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    list-style-type: none;
    margin: 0;
    white-space: nowrap; /* Empêche le texte de se diviser sur plusieurs lignes */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s ease-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Ombre légère */
    border-radius: 15px; /* Ajoute un léger arrondi */
    left: 50%; /* Positionner au centre de l'élément parent */
    transform: translateX(-50%) translateY(-10px); /* Centrage horizontal et animation verticale */
    z-index: 10000;
}

/* Assurez-vous que les sous-catégories ne débordent pas */
.dropdown-menu li {
    width: auto; /* Laissez la largeur s'ajuster en fonction du contenu */
    padding: 10px 10px;
    text-align: center; /* Centrer le texte */
    word-wrap: break-word; /* Retour à la ligne automatique si nécessaire */
    list-style: none; /* Supprime les puces */
}

/* Affichage progressif au survol */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Revient à la position normale */
}

/* Liens dans le sous-menu - gris par défaut */
.dropdown-menu li a {
    color: #5f5f5f; /* Gris par défaut */
    font-size: 14px;
    text-align: left;
    text-decoration: none; /* Supprime la couleur bleue et le soulignement */
    display: block;
}

/* Hover sur une sous-catégorie */
.dropdown-menu li a:hover {
    color: #b22133; /* Change la couleur au survol */
}

/* Header avec logo et texte Safety Cards */
header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: white; /* Vous pouvez ajuster la couleur de fond */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre pour le header */
    padding-bottom: 20px;
}

/* Conteneur du logo et du texte Safety Cards */
header .logo {
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
    justify-content: center;
    align-items: center; /* Centre tout horizontalement */
    }

/* Le logo lui-même */
header .logo img {
    width: 100px; /* Limite la taille du logo */
    height: auto;
    margin-bottom: 0px; /* Espacement de 10px entre le logo et le texte */
    margin-top: 30px;
}

/* Style pour le texte Safety Cards */
header .logo h1 {
    font-size: 2rem; /* Taille de la police du texte */
    color: #333;
    font-weight: 600;
    margin: 0; /* Retirer toute marge autour du texte */
}

/* Cache le menu burger par défaut sur grand écran */
.menu-burger,
.menu {
    display: none;
}

/*Bouton quitter le site*/


.boutons_haut {
    position: absolute;
    top: 20px;
    right: 20px;
    display:flex;
    gap:20px;
}

.quit-site{
    color: #000000;
    background-color: white;
    font-weight: 100;
    border: rgb(0, 0, 0) 1px solid ;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-style: none;;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Poppins", sans-serif;

}

.quit-site:hover {
    background-color: #000000;
    color: white;
  }

.close-website-icon {
    color: #b22133;
    
}

body.dark-mode .close-website-icon {
    color: #ff0000;
    
}

body.dark-mode .quit-site {
    background-color: #1e1e1e;
    color: #ffffff;
    border: rgb(255, 255, 255) 1px solid 
  }
  
  body.dark-mode .quit-site:hover {
    background-color: #ffffff;
    color: #1e1e1e;
  }



/* ➡️ Version responsive */
@media (max-width: 1000px) {

    nav ul {
        display: none; /* Cache le menu normal */
    }

    .menu-burger {
        display: block; /* Affiche le burger */
        cursor: pointer;
        font-size: 40px;
        color: #000;
        position: absolute; 
        top: 20%;
        left: 20px;
        z-index: 10;

    }


    header {
        position: fixed; /* Fixe le header en haut de la page */
        top: 0;
        width: 100%;
        background-color: white; /* Vous pouvez ajuster la couleur de fond */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre pour le header */
        padding: 10px 0; /* Ajoute un padding pour éviter que le contenu ne soit rogné */
        z-index: 1000; /* Assurez-vous que le header est au-dessus des autres éléments */
    }

    header .logo {
        flex-direction: row; /* Organise les éléments en ligne */
        justify-content: center; /* Centre les éléments horizontalement */
        align-items: center; /* Centre les éléments verticalement */
        padding: 10px; /* Ajoute un peu de padding */
    }

    header .logo img {
        width: 50px; /* Ajuste la taille du logo pour mobile */
        margin-right: 10px; /* Ajoute une marge à droite */
        margin-top:10px;
    }

    header .logo h1 {
        font-size: 1.5rem; /* Ajuste la taille de la police pour mobile */
        text-decoration: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 90%;
        max-width: 500px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 0 20px 20px 0;
        padding: 20px;
        padding-top: 60px; /* Ajouter un espacement en haut */
        overflow-y: auto; /* Permet le défilement vertical */
        max-height: 100vh; /* Limite la hauteur à 100% de la hauteur de la fenêtre */
    }

    .menu.show {
        transform: translateX(0);
    }
    


    .menu-close {
        display: block;
        cursor: pointer;
        font-size: 40px;
        color: #000;
        position: absolute; /* Change relative en absolute */
        top: 10px; /* Ajuste cette valeur pour monter le burger */
        right: 20px;
        z-index: 1100;
    }

    .menu ul {
        padding: 0;
    }


    .menu ul li {
        margin-bottom: 5%; /* Ajouter un espacement entre les éléments du menu */
        list-style: none; /* Supprime les puces */
    }

    .menu ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0000001a;
        color: #000000;
        font-weight: 600;
        padding: 12px 16px;
        border-radius: 10px;
        text-decoration: none;
        transition: background 0.3s ease-in-out;
        
    }


    .menu ul li a:hover {
        background-color: #000000;
        color: rgb(255, 255, 255);
    }
    body.dark-mode .menu ul li a:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        
    }

    /*Boutons pour ouvrir les sous menus*/
    .submenu-toggle {
        background-color: #0000001a;
        color: rgb(0, 0, 0);
        font-weight: 600;
        border: none;
        padding: 10px 15px;
        font-size: 1em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 10px;
        transition: background 0.3s ease-in-out;
        text-align: left;
        font-family: "Poppins", sans-serif;
    }
    body.dark-mode .submenu-toggle {
        color:white;
    
    }

    .submenu-toggle:hover {
        background-color: #000000;
        color: rgb(255, 255, 255);
    }
    body.dark-mode .submenu-toggle:hover {
        background-color: #ffffff;
        color: #000000;
    }


    .submenu-toggle::after {
        content: " →";
        font-weight: bold;
    }

    .back-button {
        color: #000000;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        background: none;
        border: none;
        text-align: left;
        border-radius: 10px;
        padding: 0 10px;
        font-family: "Poppins", sans-serif;
        background-color: #00000009;
    }

    .back-button:hover {
        color: #ffffff; 
        background-color: #000000;
    }

    body.dark-mode .back-button {
        color: #ffffff;
    }

    body.dark-mode .back-button:hover {
        color: #000000; 
        background-color: #ffffff;
    }



    .boutons_haut {
        display: none;
      }

    /*Bouton quitter le site*/


    .boutons_bas {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display:flex;
        gap:10px;
    }
    
    .quit-site-mobile{
        color: #000000;
        background-color: white;
        font-weight: 100;
        border: rgb(0, 0, 0) 1px solid ;
        padding: 10px 10px;
        font-size: 0.8rem;
        font-style: none;;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-family: "Poppins", sans-serif;
    
    }
    
    .quit-site-mobile:hover {
        background-color: #000000;
        color: white;
      }
    
    .close-website-icon {
        color: #b22133;
        
    }
    
    body.dark-mode .close-website-icon {
        color: #ff0000;
        
    }
    
    body.dark-mode .quit-site-mobile {
        background-color: #1e1e1e;
        color: #ffffff;
        border: rgb(255, 255, 255) 1px solid 
      }
      
      body.dark-mode .quit-site-mobile:hover {
        background-color: #ffffff;
        color: #1e1e1e;
      }
    
    
}
