/* Footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100vw;
    margin-top: 40px;
    
}

.logos {
display: flex;
justify-content: center; /* Centre les logos horizontalement */
align-items: center; /* Centre les logos verticalement */
gap: 20px; /* Ajoute un espace entre les logos */
margin: 0 auto;
}

.logo-safety {
width: 10%;
padding-right: 10px; /* Ajoute un espace à droite du logo */
}

.logo-centrale {
border-left: 1px solid white;
width: 20%;
padding-left: 10px; /* Ajoute un espace à gauche du logo */
}

@media (max-width: 600px) {
.logos {
  gap: 10px; /* Réduit l'espace entre les logos */
}

.logo-safety {
  width: 20%;
}

.logo-centrale {
  width: 40%;
}
}