.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: rgba(255,255,255,0.7); /* fond blanc semi-transparent */
    backdrop-filter: blur(8px); /* effet flou */
    -webkit-backdrop-filter: blur(8px); /* pour Safari */
    border : #a1a1a173 2px solid;
    color: #000000;
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100; /* Assurez-vous que le bouton est au premier plan */
  }
  body.dark-mode .scroll-to-top{
    background-color: black;
    border-color:white;
    color : white;

  }
  
  .scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .scroll-to-top:hover {
    background-color: #000000;
    color:white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  body.dark-mode .scroll-to-top:hover{
    background-color: #ffffff;
    border-color:white;
    color : #000000;

  }