.image-text { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-top:20px;
  border : solid 2px #b6602d;
  border-radius: 8px;
  background-color: #ffffff;
}

body.dark-mode .image-text {
    background-color: #1e1e1e;
}



/* Texte explicatif */
.text-container {
    flex: 1;
    color:#b6602d;
    padding:0;
    margin:0;
}

body.dark-mode .text-container {
    color: #ffffff;
}

.text-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding:0;
}

.text-container p {
    color: #b6602d;
    padding:0;
}

body.dark-mode .text-container p {
    color: #ffffff;
}

.image-conteneur{
    flex: 0 0 20%; /* Fixe la largeur de l'image à 20% */
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-conteneur img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    float:right;
}

/* 🌍 Responsive styles */
@media (max-width: 1000px) {
    .image-text {
      padding:10px;
      flex-direction: column; /* Place l'image au-dessus du texte */
      align-items: center; /* Centre les éléments horizontalement */
      text-align: center; /* Centre le texte */
    }
  
    .image-conteneur {
      width: 50%; /* L'image prend 50% de la largeur */
      margin-bottom: 10px; /* Ajoute un espace entre l'image et le texte */
      padding: 0;
    }
  
    .text-container h2 {
      font-size: 1.5rem; /* Réduit la taille du titre */
    }
  
    .text-container p {
      font-size: 1rem; /* Réduit la taille du texte */
      line-height: 1.5; /* Améliore la lisibilité */
    }
  }

