

html, body, #root, .app {
  width: 100%;
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


.page{
  width:60%;
  margin: auto;
  max-width: 800px;
  box-sizing: border-box;
}

.titre-page{ /*1er titre de chaque page*/
  text-align: left;
  margin-top: 30px;
  margin-bottom:10px;
  color:rgb(0, 0, 0);
  font-size: 3em;
  font-weight: 800;
}

.titre{
  text-align: left;
  margin-top: 20px;
  margin-bottom:20px;
  color:rgb(0, 0, 0);
  font-size: 2.2em;
  font-weight: 700;
  scroll-margin-top: 40px;
}

.titre-2{
  text-align: left;
  margin-top: 20px;
  margin-bottom:20px;
  color:rgb(0, 0, 0);
  font-size: 2.2em;
  font-weight: normal;
  scroll-margin-top: 40px;
}
.sous-titre-1{
  text-align: left;
  margin-top: 20px;
  color:rgb(0, 0, 0);
  font-size : 1.5em;
  font-weight: normal;
  scroll-margin-top: 40px;
}

.sous-titre-2{
  text-align: left;
  margin-top: 20px;
  color:rgb(0, 0, 0);
  font-size : 1.5em;
  font-weight: 600;
  scroll-margin-top: 40px;
}

.texte{
  font-size: 1em;
  color:rgb(0, 0, 0);
  line-height: 2;
  scroll-margin-top: 40px;
}

.mise-avant{
  background-color: #f4f4f4;
  border-radius: 8px;
  padding : 10px;
  border-left: 4px solid #b22133; /* trait rouge à gauche */

}

.image{
  border-radius: 8px;
  width:80%;
  margin : 0 auto;
}






/* ➡️ Version responsive */
@media (max-width: 1040px) {


  .page{
    width:90%;
    margin: auto;
    min-width: 0;
  }
  .titre-page {
    font-size: 2em;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    margin-top: 130px;
  }
  .titre {
    font-size: 2em;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .titre-2 {
    font-size: 2em;
    line-height: 1.1;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}





/* Styles pour le mode sombre */
body.dark-mode {
  background-color: #212121;
  color: #ffffff;
}

body.dark-mode .titre,
body.dark-mode .titre-2,
body.dark-mode .titre-page,
body.dark-mode .sous-titre-1,
body.dark-mode .sous-titre-2,
body.dark-mode .texte {
  color: #ffffff;
}



body.dark-mode .navbar button {
  background-color: #444444;
  color: #ffffff;
}

body.dark-mode .navbar button:hover {
  background-color: #555555;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #131313;
  color: #ffffff;
}

body.dark-mode header .logo h1 {
  color: #ffffff;
}

body.dark-mode header a {
  color: #ffffff;
}

body.dark-mode .menu {
  background-color: #131313;
  color: #ffffff;
}

body.dark-mode .menu a {
  color: #ffffff;
}



body.dark-mode .menu-burger {
  color: #ffffff;
}

body.dark-mode .menu-close {
  color: #ffffff;
}

body.dark-mode .mise-avant {
  background-color: #343434;
  color: #ffffff;
}